<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logorocket"
        android:label="CosmicLink"
        android:roundIcon="@drawable/logorocket"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolunteerApp"
        tools:targetApi="31">
        <activity
            android:name=".Activities.TaskAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CommonTaskActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrgTaskActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrgParticipatingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VolTaskActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.MainAdminPage"
            android:exported="false" />
        <activity
            android:name=".Activities.CustomViews.viewOrgPosts"
            android:exported="false" />
        <activity
            android:name=".Activities.CustomViews.VolunteerProfileView"
            android:exported="false" />
        <activity
            android:name=".Activities.InterestedActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LocationActivityForPost"
            android:exported="false" />
        <activity
            android:name=".Activities.qrCodeScanner"
            android:exported="false" />
        <activity
            android:name=".Activities.CustomViews.OrgProfileView"
            android:exported="false"
            android:label="@string/title_activity_org_profile_view"
            android:theme="@style/Theme.VolunteerApp" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LocationActivityForVol"
            android:exported="false" />
        <activity
            android:name=".Activities.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.Activity.chatwindo"
            android:exported="false" />
        <activity
            android:name=".Chat.Activity.SearchChatActivity"
            android:exported="false" />
        <activity
            android:name=".Chat.Activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganisationLandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OrganisationSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CustomViews.BookmarkPostDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.VolunteerLandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.VolunteerSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GMP_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".Activities.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>